# Base de données PostgreSQL
DATABASE_URL="postgresql://UTILISATEUR:MOT_DE_PASSE@localhost:5432/stock_management?schema=public"

# Port d'écoute du backend (API)
PORT=3001

# Origine du frontend
FRONTEND_URL="http://localhost:3000"
